.chat-container {
  flex: 1;
  padding: 16px;
  background: #efeae2; /* fondo tipo WhatsApp */
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

/* Burbujas */
.message {
  max-width: 60%;
  padding: 8px 12px;
  margin-bottom: 8px;
  border-radius: 8px;
  font-size: 14px;
  line-height: 1.4;
  word-wrap: break-word;
}

/* Recibidos */
.message.received {
  background: #ffffff;
  align-self: flex-start;
  border-top-left-radius: 0;
}

/* Enviados */
.message.sent {
  background: #d9fdd3;
  align-self: flex-end;
  border-top-right-radius: 0;
}
.input-area {
  padding: 10px;
  background: #f0f2f5;
  border-top: 1px solid #ddd;
flex-shrink: 0;
}

.input-area input {
  width: 100%;
  padding: 10px 12px;
  border-radius: 8px;
  border: none;
  outline: none;
  background: #ffffff;
    font-size: 14px;
}

.chat-header {
  height: 60px;
  flex-shrink: 0;
}