.chat-header {
  height: 60px;
  background: #f0f2f5;
  border-bottom: 1px solid #ddd;
  padding: 0 16px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.chat-header-left {
  display: flex;
  align-items: center;
  gap: 12px;
}

.chat-header-left img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.chat-header-info {
  display: flex;
  flex-direction: column;
}

.chat-name {
  font-weight: 600;
}

.chat-status {
  font-size: 12px;
  color: #667781;
}

.chat-header-right span {
  font-size: 18px;
  margin-left: 18px;
  cursor: pointer;
}


.back-button {
  display: none;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: #54656f;
  margin-right: 10px;
  padding: 0;
  line-height: 1;
}

@media (max-width: 768px) {
  .back-button {
    display: block;
  }
}

/* Dark Mode */
.dark-mode .chat-header {
  background-color: #202c33;
  border-bottom: 1px solid #202c33;
  color: #e9edef;
}

.dark-mode .chat-status {
  color: #8696a0;
}

.dark-mode .back-button {
  color: #e9edef;
}