.welcome-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-color: #f0f2f5;
    text-align: center;
    color: #41525d;
    border-bottom: 6px solid #25d366;
}

.welcome-logo {
    width: 120px;
    height: 120px;
    margin-bottom: 30px;
    opacity: 0.8;
}

.welcome-container h1 {
    font-weight: 300;
    margin-bottom: 15px;
    font-size: 32px;
}

.welcome-container p {
    font-size: 14px;
    color: #8696a0;
    margin: 5px 0;
}